/** padrão do style **/
body {
    width: 1200px;
    height: 500px; /*
    background: #fff;
    background-image: url("img/bg.jpg"); */
    margin: 0 auto;
}

.text {
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.card {
    width: 1200px;
    height: 550px;
    border: #292929;
    background: none;
    margin: 0 auto;
    margin-top: 20px;
}